* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2
section h3,
form button {
    font-family: "Sour Gummy", serif;
    font-weight: normal;
        
}

header,
section h2 {
    font-size: 35px;
}

body, input, textarea {
    font-family: "Roboto", serif;
}

header {
    padding: 16px;
    background-color: orangered;
    color: black;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header h1,
section h2 {
    font-weight: normal;
}

header nav li a {
    color: black;
    text-decoration: none;
}

.container img {
    width: 100%;
    height: 150%; 
    object-fit: contain;
}

.container, h2 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline-block;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: rgb(2, 58, 2);
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline-flex;
    margin-right: 10px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-metods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: yellow;
    color: black;
    border: none;    
    cursor: pointer;
}

form button:hover {
    background-color: rgb(238, 238, 121);
}

input :focus, textarea :focus {
    outline-color: rgb(6, 71, 6);
}

footer {
    background-color: orangered;
    color: black;
    padding: 16px 0;
}


/* seção imagens dos produtos */
.container-flex {
    display: flex;
    gap: 30px; /* espaço entre as imagens */
}

.container-flex img {
    width: 100px; /* ou outro tamanho desejado */
    height: auto;
}


.lista-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 0;
    margin: 0;
}

.lista-produtos li {
    list-style: none;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza conteúdo (imagem e botão) no <li> */
    max-width: 100px; /* ou outro valor desejado */
    text-align: center;
}

.lista-produtos li img {
    max-width: 100%;
    margin-bottom: 24px;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

.lista-produtos li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: orangered;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.lista-produtos li strong {
    margin: 16px 0;
    display: block;
}



@media screen and (max-width: 767px) {
    .container-flex lista-produtos {
        display: flex;
    }

    .container, h2 {
        max-width: 90%;
        text-align: center;

    }

    .contact-metods {
        display: block;
        justify-content: space-between;
    }

    #about .h2 {
        text-align: justify;
    }

    #about .container {
    flex-direction: column;
    text-align: justify;
    }


    #about .store-front {
        display: block;
        margin: 0 auto;
        width: 300px; /* ou outro tamanho desejado */
        height: auto;
        margin-bottom: 30px; /* Espaço de 30px abaixo da imagem */
    }

    .brands-list {
        margin-top: 30px; /* Espaço entre o texto e as imagens */
    }

    .brands-list img {
        width: 70px;
        height: auto;
        margin-bottom: 16px;
    }

    header .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header nav ul {
        display: block;
        padding: 0;
        margin-top: 12px;
    }

    header nav li {
        display: block;
        margin: 8px 0;
    }
}

    header h1 {
        font-size: 40px; /* ou outro tamanho desejado */
    }

    .container .social-links{
        display: flex; 
        justify-content: center;        
        gap: 20px;
    }

    


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container, h2 {
        max-width: 80%;
        text-align: justify;
    }    

    #about .store-front {
        display: block;
        width: 300px; /* ou outro tamanho desejado */
        margin-top: 50px; /* ajusta esse valor conforme necessário */
    }

    header h1 {
        font-size: 50px;
    }

    .contact-metods {
        display: block;
        justify-content: space-between;
    }


}